.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #38386c;
    color: white;
}

.title {
    margin-bottom: 20px;
}
